main {
  background-color: #283044;
  color: #ebf5ee;
}

nav {
  background-color: #f5bb00;
}

footer {
  background-color: #1e2433;
  color: #ebf5ee;
}

.right {
  float: right;
}

.left {
  float: left;
}

.container {
  padding: 10px;
}

.container.week {
  margin-top: 5%;
  margin-bottom: 10%;
}

.container.events {
  margin-top: 5%;
  margin-bottom: 10%;
}

.warning {
  text-align: center;
  font-size: small;
  font-style: italic;
}

.btn.loggin_button {
  background-color: #f5bb00;
  border-color: black;
}

.btn.loggin_button:hover {
  background-color: #ffcb1f;
  border-color: #1e2433;
  color: #1e2433;
}

.btn.goto {
  background-color: #f5bb00;
  border-color: black;
  font-size: small;
}

.btn.goto:hover {
  background-color: #ffcb1f;
  border-color: #1e2433;
  color: #1e2433;
}

.btn.display {
  color: white;
  text-decoration: underline;
}

.btn.display:hover {
  color: #ffcb1f;
  font-style: bold;
  text-decoration: underline;
}

.container.logging-container {
  max-width: 600px;
}

.current-status {
  text-align: center;
  font-size: x-large;
  font-style: bold;
}

.comments {
  text-align: right;
  font-style: italic;
  color: #ffcb1f;
}

.btn.add-drink {
  background-color: #fdc166;
  border-color: white;
  color: black;
  font-size: medium;
  width: 20%;
  height: auto;
  margin-left: 10%;
}

.btn.inner_button {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f5bb00;
  border-color: black;
}

.btn.inner_button:hover {
  background-color: #ffcb1f;
  border-color: #1e2433;
  color: #1e2433;
}

/* .form-select.bierasse_form {
  width: 40%;
  margin-right: 10px;
} */